<section id="contact" class="contact-area section">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">

          <p>Coderspoint has everything you need to get your new website up and running in no time all of the templates and themes.</p>
        </div>
      </div>
    </div>

    <div class="row contact-row">
      <div class="col-md-6">

        <!-- Contact form starts -->
        <div class="contact-form">

          <!-- Submition status -->
          <div id="form-messages"></div>

          <form id="ajax-contact" action="assets/mailer.php" method="post">

            <div class="form-group in_name">
              <input type="text" name="name" class="form-control" id="name" placeholder="NAME" required="required">
            </div>
            <div class="form-group in_email">
              <input type="email" name="email" class="form-control" id="email" placeholder="EMAIL" required="required">
            </div>
            <div class="form-group in_message">
              <textarea rows="5" name="message" class="form-control" id="message" placeholder="MESSAGE" required="required"></textarea>
            </div>

            <div class="actions">
              <input type="submit" value="Send Now" name="submit" id="submitButton" class="btn dark" title="Submit Your Message!">
            </div>
          </form>
        </div>
        <!-- Contact form ends-->
      </div>

      <div class="col-md-6">
        <ul class="contact-info">
          <li>
            <i class="fa fa-map-marker"></i>
            <p>Parramatta NSW 2150</p>
          </li>
          <li>
            <i class="fa fa-phone"></i>
            <p>0431053080</p>
          </li>
          <li>
            <i class="fa fa-send"></i>
            <p>wesleywang5803@gmail.com</p>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>
