.acme-navbar-text{
  color: white;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: greenyellow;
}

.main-text{
  color: greenyellow;
}

.myCssVar{

}

.css-class-add, .css-class-remove {
  transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.css-class,
.css-class-add.css-class-add-active {
  color: orangered;
  font-size: 2em;
}

.css-class-remove.css-class-remove-active {
  font-size: 1em;
  color: red;
}

.mybox {
  color: darkgreen;
  border-radius: 20px;
  margin: 0 auto 10px auto;
  padding: 5px;
  width:150px;
  background-color:#ff0;
  position:relative;
}

.mybox:after {
  content:"";
  border-color: #ff0 transparent transparent transparent;
  border-style:solid;
  border-width:10px;
  width:0;
  height:0;
  position:absolute;
  bottom:-20px;
  left:80px
}

#pane {
  position:relative;
   height:300px;
  border:2px solid red;
}

#box {
  position:absolute;
   height:20px;
  background-color:black;
}
