.acme-navbar-text{
  color: white;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: greenyellow;
}

.main-text{
  color: greenyellow;
}

.myCssVar{

}

.css-class-add, .css-class-remove {
  transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.css-class,
.css-class-add.css-class-add-active {
  color: orangered;
  font-size: 2em;
}

.css-class-remove.css-class-remove-active {
  font-size: 1em;
  color: red;
}

.rain{
  //background-color: #f8f8f8;
  background-image: url('../../assets/images/rain.gif');
}

.snow{
  //background-color: #f8f8f8;
  background-image: url('../../assets/images/snow.gif');
}

.sunny{
  //background-color: #f8f8f8;
  background: yellow; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(yellow, orange); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(yellow, orange); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(yellow, orange); /* For Firefox 3.6 to 15 */
  background: linear-gradient(yellow, orange); /* Standard syntax */

  //background-image: url('../../assets/images/rain.gif');
}
