<div class="container" style="background-color: #f8f8f8; font-family: Comic Sans MS;" ng-style="{minHeight: main.windowHeight}">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="row" style="margin: 10px 30px;">
    <div class="col-md-6 text-center" style="padding: 20px;">
      <h3>Education</h3>
      <timeline>

        <timeline-event ng-repeat="event in main.events" side="alternate">
          <timeline-badge class="{{event.badgeClass}}">
            {{event.time}}
          </timeline-badge>
          <timeline-panel class="{{event.badgeClass}}" ng-mouseover="myCssVar='css-class'" ng-mouseleave="myCssVar=''" ng-class="myCssVar">
            <timeline-heading>
              <h4>{{event.title}}</h4>
            </timeline-heading>
            <p>{{event.content}}</p>
          </timeline-panel>
        </timeline-event>
      </timeline>
    </div>
    <div class="col-md-6 text-center" style="padding: 20px">
      <h3>Work Experience</h3>
      <timeline>

        <timeline-event ng-repeat="event in main.workEvents" side="alternate">
          <timeline-badge class="{{event.badgeClass}}" style="width: 60px; border-radius: 0; margin-left: -30px; font-size: 12px">
            {{event.time}}
          </timeline-badge>
          <timeline-panel class="{{event.badgeClass}}" ng-mouseover="myCssVar='css-class'" ng-mouseleave="myCssVar=''" ng-class="myCssVar">
            <timeline-heading>
              <h4>{{event.title}}</h4>
            </timeline-heading>
            <p>{{event.content}}</p>
          </timeline-panel>
        </timeline-event>
      </timeline>
    </div>
  </div>


  <div style="display: flex; margin: 10px 30px;">
    <div style="flex:1; padding: 20px">Analyse the requirement of projects; set up project and establish database. Using angularJS to fulfill front end job in most time and also using nodeJS sometimes. Using restapi and also have written some restapi.</div>
    <div style="flex:1; padding: 20px">Develop mobile App using React Native; Using Redux to manipulate data storing and updating.  </div>
  </div>

  <div style="display: flex; margin: 10px 30px;">
    <div style="flex:1; padding: 20px">Analyse the requirement of projects; set up project and establish database. Using angularJS to fulfill front end job in most time and also using nodeJS sometimes. Using restapi and also have written some restapi.</div>
    <div style="flex:1; padding: 20px">Develop mobile App using React Native; Using Redux to manipulate data storing and updating.  </div>
  </div>

  <div style="display: flex; margin: 10px 30px;">
    <div style="flex:1; padding: 20px">Analyse the requirement of projects; set up project and establish database. Using angularJS to fulfill front end job in most time and also using nodeJS sometimes. Using restapi and also have written some restapi.</div>
    <div style="flex:1; padding: 20px">Develop mobile App using React Native; Using Redux to manipulate data storing and updating.  </div>
  </div>

  <div id="projects">
    <h3 class="text-center">Projects</h3>
    <acme-projects creation-date="main.creationDate"></acme-projects>
  </div>

  <div id="contact">
    <h3 class="text-center">GET IN TOUCH</h3>
    <acme-contact creation-date="main.creationDate"></acme-contact>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <!--<div class="thumbnail">-->
        <!--<img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">-->
      <!--</div>-->
    </div>
  </div>

</div>
