<div style="display: flex; justify-content: space-between; margin: 10px 30px;">
  <div class="section text-center" style="flex: 1; padding: 20px">
    <p>OZII<img ng-src="assets/images/ozii.png" style="margin-left: 20px; border-radius: 10px" alt="image" width="60"></p>
    <div class="overlay">
      <div class="text">
        <p>real estate</p>
      </div>
    </div>
  </div>
  <div class="section text-center" style="flex: 1; padding: 20px">
    <p>LTT_WEB <img ng-src="assets/images/ltt.jpg" style="margin-left: 20px; border-radius: 10px" alt="image" width="50"></p>

    <div class="overlay">
      <div class="text">
        <p>travelling</p>
      </div>
    </div>
  </div>

  <div class="section text-center" style="flex: 1; padding: 20px">
    <p>LeaseRent <img ng-src="assets/images/leaserent.png" style="margin-left: 20px; border-radius: 10px" alt="image" width="60"></p>
    <div class="overlay">
      <div class="text">
        <p>Agency</p>
      </div>
    </div>
  </div>

</div>

<div style="display: flex; justify-content: space-between; margin: 10px 30px;">
  <div class="section text-center" style="flex: 1; padding: 20px">
    <p>TMB<img ng-src="assets/images/trade.png" style="margin-left: 20px; border-radius: 10px" alt="image" width="60"></p>
    <div class="overlay">
      <div class="text">
        <p>business trading</p>
      </div>
    </div>
  </div>
  <div class="section text-center" style="flex: 1; padding: 20px">
    <p>Unichi <img ng-src="assets/images/unichi.png" style="margin-left: 20px; border-radius: 10px" alt="image" width="50"></p>

    <div class="overlay">
      <div class="text">
        <p>Nutrition</p>
      </div>
    </div>
  </div>

  <div class="section text-center" style="flex: 1; padding: 20px">
    <p>NoodleZero <img ng-src="assets/images/noodle.png" style="margin-left: 20px; border-radius: 10px" alt="image" width="50"></p>
    <div class="overlay">
      <div class="text">
        <p>Food</p>
      </div>
    </div>
  </div>

</div>
