<div style="display: flex; justify-content: space-between; margin: 10px 30px;">
  <div style="flex: 1; padding: 20px">
    <p>OZII<img ng-src="assets/images/ozii.png" style="margin-left: 20px; border-radius: 10px" alt="ozii" width="50"></p>

    <p>This is an App that provide real estate information. User can find property from map and filter the property they want.</p>
    <p>There is a calculator in this App including stamp duty calculating and loan repayment calculating.</p>
  </div>
  <div style="flex: 1; padding: 20px">
    <p>LTT_WEB <img ng-src="assets/images/ltt.jpg" style="margin-left: 20px; border-radius: 10px" alt="ozii" width="50"></p>
    <p>This is an Web App that provides a platform for people who want to sell goods while travelling</p>
    <p>Main functions:<br/>
      1.<br/>
      2.<br/>
      3.<br/>
    </p>
  </div>

</div>

<div style="display: flex; margin: 10px 30px;">
  <div style="flex: 1; padding: 20px">VictoriaCRM</div>
  <div style="flex: 1; padding: 20px">ALIBABY</div>
</div>
